<div class="container content">
    <div class="row">
        <div class="col-md-6">
            Hola mundo
        </div>
        <div class="col-md-6">
            Desde el componente saludar
        </div>
    </div>
</div>
