<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!--form card login with validation feedback -->
            <span class="anchor" id="formLogin"></span>
            
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0 text-center">My Whishlist</h3>
                </div>
                
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresa nombre del destino..." #nombre>
                        </div>
                        
                        <div class="form-group">
                            <label for="imgUrl">Imagen Url</label>
                            <input type="text" class="form-control" id="imgUrl" placeholder="Ingresala URL del destino..." #url>
                        </div>
                        
                        <button type="submit" class="btn btn-info" (click)="guardarDestino(nombre.value, url.value)">Guardar destino</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <hr class="mb-5">
    
    <div class="row row-flex">
        <destino-viaje *ngFor="let d of destinos" 
        [destino]="d"
        (clicked)="elegido($event)"
        ></destino-viaje>
    </div>

    <footer>
        <div class="row">
            <div class="col text-center">
                <p>Created with ❤️ by Sofia Bianco 2020</p>
            </div>
        </div>
    </footer>
</div>