<div class="card-content mb-4">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4> {{ destino.nombre }} </h4></span>
    </div>
        
    <div class="card-desc">
        <h3> {{ destino.nombre }} </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatisvoluptas totam
        </p>
        <a href="{{ destino.imgUrl }}" class="btn-card" target="_blank" (click)="ir()">Ver</a> 
        <span [style.display]="destino.isSelected() ? '' : 'none'"> Favorito</span>
    </div>
</div>